
.styleCard{

    width: 28rem;
    height: 33rem;
    margin:10px;
    background-color:#000033 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


 