.movieList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.movieList {
  margin-top: 150px !important;
  margin-left: 100px !important;
  background-color: #bcbcee1a;
   width: 1300px;
   height: 2050px;
   border-radius: 12px;
}

.moviebtn {
  width: 23rem;
  height: 37rem;
  background-color:#922B21!important;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

 .style-card{
   margin-left: 20px !important;
 }
